*{
    margin: 0px;
    padding: 0px;
}
:root{
    --navbar-height:59px;
}
/* Navbar */
#navbar{
    display:flex;
    align-items: center;
    position:relative;
    
   
}
#logo{
    margin: 0px;
    padding: 0px;
}
#img{
    height: 70px;
    width: 70px;
}
#navbar ul{
    display:flex;
    list-style-type:none;
    font-size: 1.1rem; 
}
#navbar ul li{
    padding: 3px 8px
}
#navbar ul li a{
    padding: 2px 7px;
    color:whitesmoke;
    border-radius: 10px ;
}
#navbar ul li a:hover{
    color:black;
    background-color:yellow;
}
/* for background use before selectors */
#navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    z-index: -1;
    opacity: 1;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 420px;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}
#home p{
    padding:  0rem 5rem;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('./img/home.jpg') no-repeat center center/cover;
    height: 420px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}





/* utility classes(Make ones use everywhere) */
.heading{
    font-size: 3.0rem;
    text-align: center;
}
.btn{
    color: black;
    background-color: yellowgreen;
    border: 2px solid white;
    border-radius: 10px;
    margin: 15px;
    padding: 6px 20px;
    font-size: 0.8rem;
    cursor: pointer;
}

#home h1{
    color: rgb(225, 240, 24);
    font-family: 'Bree Serif',serif;
}
#home p{
    color: white;
    font-size: 1.0rem;
    text-align: center;
}

/* Services section */

#serve h1{
    display: flex;
    color:black;
    align-items: center;
    justify-content: center;
    font-size: 3.3rem;

}
#services{
    display: flex;
    margin: auto; 
    padding: 20px 0px;


}
.box{
    height: 250px;
    margin: 30px ;
    padding: 20px; 
    border: 2px solid rgb(129, 25, 25);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    align-items: center;
    text-align: center; 
    border-radius: 15px;
    background-color: rgb(233, 223, 223);
}
.center{
    margin: 0px;
    padding: 0px;
}

#logo_img{
    margin: 0px;
    padding: 0px;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.click{
    border-radius: 5px;
    font-size: 16px;
    background-color: yellowgreen;
    margin: 20px;
    padding: 5px;

}
.formclick{
    border-radius: 5px;
    font-size: 16px;
    background-color: yellowgreen;
    margin:0px;
    padding: 5px;
}

/* Contact Us section */
#contact{
    padding: 20px 20px;
    background: rgb(182, 241, 180);
}
#contact h1{
    text-align: center;
    font-size: 2.5rem;
}
#contact_box{
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center; 
}
#contact_box label{
    font-weight: bold;
    font-style: italic;
    font-size: 1.0rem;
}
#contact_box form{
    width: 35%;
}
#contact input,#contact textarea{
    width: 100%;
    padding: 0.3rem;
    border-radius: 5px;
}

/* footer section */
#footer{
    font-size: 1rem;
    background-color: rgb(49, 41, 41);
    color: white;
    text-align: center;
    padding: 10px 0px   ;
}
#footer a{
    padding: 0px 10px;
   color: white;
}






